body{
    background-color: rgb(226, 195, 255);
}

h1{
    color: aliceblue;
}

#p1{
    color:antiquewhite
}

#p2{
    color: aqua;
}

#p3{
    color: aquamarine;
}

#p4{
    color: bisque;
}

.opening{
    color: blue;
}

.ending{
    color: blueviolet;
}